:root{
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    // --fonte-principal: 'Josefin Sans', sans-serif;
    // --fonte-secundaria: 'Nunito Sans', sans-serif;

    --peso-light: 400;
    --peso-bold: 700;

    --peso-titulo-detalhe: 700;
    --peso-titulo-faixa: 500;

    --cor-cinza-claro: #e3e4db;
    --cor-cinza-escuro: #929292;
    --cor-azul: #395c6b;
    --cor-azul-claro: #8fb399;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-preto-transparente: rgba(0,0,0,0.5);

    --tamanho-titulo-detalhe: 1.4rem;
    --tamanho-corpo: 1rem;
    --tamanho-corpo-centro: 1.2rem;

}