.informacao {
    font-size: var(--tamanho-corpo-centro);
    margin-bottom: 3rem;

    &__titulo {
        font-family: var(--fonte-principal);
        font-size: var(--tamanho-titulo-detalhe);
        text-transform: uppercase;
    }

    &__lista {
        border-left: 3px solid var(--cor-preto-transparente);
        margin: 1rem 0.5rem 1.5rem 2rem;
        padding-left: .5rem;
    }

    &__item {
        line-height: 1.9rem;
    }
}
